doctype html
html(xmlns='http://www.w3.org/1999/xhtml', xmlns:v='urn:schemas-microsoft-com:vml', xmlns:o='urn:schemas-microsoft-com:office:office')
  head
    title  
    // [if !mso] <!
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // <![endif]
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style(type='text/css').
      #outlook a {
      padding: 0;
      }
      body {
      margin: 0;
      padding: 0;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      }
      table,
      td {
      border-collapse: collapse;
      mso-table-lspace: 0pt;
      mso-table-rspace: 0pt;
      }
      img {
      border: 0;
      height: auto;
      line-height: 100%;
      outline: none;
      text-decoration: none;
      -ms-interpolation-mode: bicubic;
      }
      p {
      display: block;
      margin: 13px 0;
      }
    style(type='text/css').
      @media only screen and (min-width: 480px) {
      .mj-column-per-100 {
      width: 100% !important;
      max-width: 100%;
      }
      .mj-column-px-500 {
      width: 500px !important;
      max-width: 500px;
      }
      }
    style(type='text/css').
      @media only screen and (max-width: 480px) {
      table.mj-full-width-mobile {
      width: 100% !important;
      }
      td.mj-full-width-mobile {
      width: auto !important;
      }
      }
  body(style='background-color: #ffffff;')
    div(style='background-color: #ffffff;')
      .header(style='background: #fafafa url(assets/mail_alianza/tela.jpg) top center / cover no-repeat; margin: 0px auto; max-width: 600px;')
        div(style='line-height: 0; font-size: 0;')
          table(align='center', background='assets/mail_alianza/tela.jpg', border='0', cellpadding='0', cellspacing='0', role='presentation', style='background: #fafafa url(assets/mail_alianza/tela.jpg) top center / cover no-repeat; width: 100%;')
            tbody
              tr
                td(style='direction: ltr; font-size: 0px; padding: 0px; text-align: center;')
                  .mj-column-per-100.mj-outlook-group-fix(style='font-size: 0px; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 100%;')
                    table(border='0', cellpadding='0', cellspacing='0', role='presentation', width='100%')
                      tbody
                        tr
                          td(style='vertical-align: top; padding: 40px 50px;')
                            table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='', width='100%')
                              tbody
                                tr
                                  td(align='center', style='font-size: 0px; padding: 5px 25px; word-break: break-word;')
                                    table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='border-collapse: collapse; border-spacing: 0px;')
                                      tbody
                                        tr
                                          td(style='width: 158px;')
                                            img(height='auto', src='assets/mail_alianza/al_negativo.png', style='border: 0; display: block; outline: none; text-decoration: none; height: auto; width: 100%; font-size: 13px;', width='158')
      .primero(style='background: #fafafa; background-color: #fafafa; margin: 0px auto; max-width: 600px;')
        table(align='center', border='0', cellpadding='0', cellspacing='0', role='presentation', style='background: #fafafa; background-color: #fafafa; width: 100%;')
          tbody
            tr
              td(style='direction: ltr; font-size: 0px; padding: 40px 0px 20px 0px; text-align: center;')
                .mj-column-px-500.mj-outlook-group-fix(style='font-size: 0px; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 100%;')
                  table(border='0', cellpadding='0', cellspacing='0', role='presentation', width='100%')
                    tbody
                      tr
                        td(style='vertical-align: top; padding: 0px 25px;')
                          table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='', width='100%')
                            tbody
                              tr
                                td(align='left', style='font-size: 0px; padding: 0px 0px 20px 0px; word-break: break-word;')
                                  div(style='font-family: Arial, sans-serif; font-size: 25px; font-weight: bold; line-height: 28px; text-align: left; color: #000000;')
                                    | Hola Chis,
                              tr
                                td(align='left', style='font-size: 0px; padding: 0px 0px 20px 0px; word-break: break-word;')
                                  div(style='font-family: Arial, sans-serif; font-size: 35px; font-weight: bold; line-height: 22px; text-align: left; color: #bfab70;')
                                    | Gracias por tu compra
                              tr
                                td(align='left', style='font-size: 0px; padding: 0px 0px 0px 0px; word-break: break-word;')
                                  div(style='font-family: Arial, sans-serif; font-size: 14px; line-height: 22px; text-align: left; color: #555555;')
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras volutpat malesuada massa.
                                    b Nunc tincidunt eget mi id porta.
                                    |                                                                     Maecenas varius et ante sit amet facilisis. Sed et lectus dignissim, bibendum mi tincidunt, condimentum libero
      .segundo(style='background: #fafafa; background-color: #fafafa; margin: 0px auto; max-width: 600px;')
        table(align='center', border='0', cellpadding='0', cellspacing='0', role='presentation', style='background: #fafafa; background-color: #fafafa; width: 100%;')
          tbody
            tr
              td(style='direction: ltr; font-size: 0px; padding: 0px; text-align: center;')
                .mj-column-px-500.mj-outlook-group-fix(style='font-size: 0px; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 100%;')
                  table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='vertical-align: top;', width='100%')
                    tbody
                      tr
                        td(align='left', style='font-size: 0px; padding: 10px 25px; word-break: break-word;')
                          table(cellpadding='0', cellspacing='0', width='100%', border='0', style='color: #000000; font-family: Arial; font-size: 13px; line-height: 22px; table-layout: auto; width: 100%; border: none;')
                            tbody
                              tr(style='background-color: #fff; font-size: 16px;')
                                td(style='padding: 25px 16px 0 16px; text-align: center;')
                                  | Su orden de compra es:
                              tr(style='background-color: #fff; font-size: 20px;')
                                td(style='padding: 10px 16px 25px 16px; text-align: center; color: #000; font-weight: bold;')
                                  | 123456
      .tercero(style='background: #fafafa; background-color: #fafafa; margin: 0px auto; max-width: 600px;')
        table(align='center', border='0', cellpadding='0', cellspacing='0', role='presentation', style='background: #fafafa; background-color: #fafafa; width: 100%;')
          tbody
            tr
              td(style='direction: ltr; font-size: 0px; padding: 30px 0px 50px 0px; text-align: center;')
                .mj-column-px-500.mj-outlook-group-fix(style='font-size: 0px; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 100%;')
                  table(border='0', cellpadding='0', cellspacing='0', role='presentation', width='100%')
                    tbody
                      tr
                        td(style='vertical-align: top; padding: 0px 25px;')
                          table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='', width='100%')
                            tbody
                              tr
                                td(align='left', style='font-size: 0px; padding: 0px 0px 0px 0px; word-break: break-word;')
                                  div(style='font-family: Arial, sans-serif; font-size: 14px; line-height: 22px; text-align: left; color: #555555;')
                                    | Si quieres saber el estado de tu compra o tienes alguna consulta, comunicate al  
                                    img(src='assets/mail_alianza/whatsap_icon.jpg', width='12')
                                    |                                                                     123 456 789
      .footer(style='background: #000000; background-color: #000000; margin: 0px auto; max-width: 600px;')
        table(align='center', border='0', cellpadding='0', cellspacing='0', role='presentation', style='background: #000000; background-color: #000000; width: 100%;')
          tbody
            tr
              td(style='border-top: 1px solid #979797; direction: ltr; font-size: 0px; padding: 20px 0; text-align: center;')
                .mj-column-per-100.mj-outlook-group-fix(style='font-size: 0px; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 100%;')
                  table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='vertical-align: top;', width='100%')
                    tbody
                      tr
                        td(align='center', style='font-size: 0px; padding: 0px 25px; word-break: break-word;')
                          div(style='font-family: Arial, sans-serif; font-size: 12px; line-height: 15px; text-align: center; color: #ffffff;')
                            | © 2020 Club Alianza Lima
