doctype html
html(xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office")
  head
    title  
    // [if !mso] <!
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    // <![endif]
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    style(type="text/css").
      #outlook a {
      padding: 0;
      }
      body {
      margin: 0;
      padding: 0;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      }
      table,
      td {
      border-collapse: collapse;
      mso-table-lspace: 0pt;
      mso-table-rspace: 0pt;
      }
      img {
      border: 0;
      height: auto;
      line-height: 100%;
      outline: none;
      text-decoration: none;
      -ms-interpolation-mode: bicubic;
      }
      p {
      display: block;
      margin: 13px 0;
      }
    //if mso
      xml
        o:officedocumentsettings
          o:allowpng
            o:pixelsperinch 96
    //if lte mso 11
      style(type="text/css").
        .mj-outlook-group-fix {
        width: 100% !important;
        }
    // [if !mso] <!
    link(href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet" type="text/css")
    style(type="text/css").
      @import url(https://fonts.googleapis.com/css?family=Ubuntu:300, 400, 500, 700);
    // <![endif]
    style(type="text/css").
      @media only screen and (min-width: 480px) {
      .mj-column-per-100 {
      width: 100% !important;
      max-width: 100%;
      }
      }
    style(type="text/css").
  body(style="background-color: #cccccc;")
    div(style="background-color: #cccccc;")
      //if mso | IE
        table.header-outlook(align="center" border="0" cellpadding="0" cellspacing="0" style="width:600px;" width="600")
          tr
            td(style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;")
              v:rect(style="width:600px;" xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false")
                v:fill(origin="0.5, 0" position="0.5, 0" src="assets/mail_darshana/mail_hero.jpg" color="#FAFAFA" type="tile")
                  v:textbox(style="mso-fit-shape-to-text:true" inset="0,0,0,0")
      .header(style="background: #fafafa url(assets/mail_darshana/mail_hero.jpg) top center / cover no-repeat; margin: 0px auto; max-width: 600px;")
        div(style="line-height: 0; font-size: 0;")
          table(align="center" background="assets/mail_darshana/mail_hero.jpg" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background: #fafafa url(assets/mail_darshana/mail_hero.jpg) top center / cover no-repeat; width: 100%;")
            tbody
              tr
                td(style="direction: ltr; font-size: 0px; padding: 0px; text-align: center;")
                  //if mso | IE
                    table(role="presentation" border="0" cellpadding="0" cellspacing="0")
                      tr
                        td(style="vertical-align:top;width:600px;")
                  .mj-column-per-100.mj-outlook-group-fix(style="font-size: 0px; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 100%;")
                    table(border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%")
                      tbody
                        tr
                          td(style="vertical-align: top; padding: 75px 50px;")
                            table(border="0" cellpadding="0" cellspacing="0" role="presentation" style="" width="100%")
                              // <mj-image align="center" padding="5px 25px" src="assets/mail_alianza/al_negativo.png" width="158px"></mj-image>
                              tr
                                td(align="left" style="font-size: 0px; padding: 0px 0px 28px 0px; word-break: break-word;")
                                  div(style="font-family: Arial, sans-serif; font-size: 30px; font-weight: bold; line-height: 22px; text-align: left; color: #00a6cc;") darshana
                              tr
                                td(align="left" style="font-size: 0px; padding: 0px 0px 16px 0px; word-break: break-word;")
                                  div(style="font-family: Arial, sans-serif; font-size: 25px; font-weight: bold; line-height: 22px; text-align: left; color: #ffffff;") ¡Propuesta de proyecto
                              tr
                                td(align="left" style="font-size: 0px; padding: 0px 0px 16px 0px; word-break: break-word;")
                                  div(style="font-family: Arial, sans-serif; font-size: 25px; font-weight: bold; line-height: 22px; text-align: left; color: #ffffff;") aceptada!
                  //if mso | IE
      //if mso | IE
        table(align="center" border="0" cellpadding="0" cellspacing="0" style="width:600px;" width="600")
          tr
            td(style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;")
      div(style="background: #ffffff; background-color: #ffffff; margin: 0px auto; max-width: 600px;")
        table(align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background: #ffffff; background-color: #ffffff; width: 100%;")
          tbody
            tr
              td(style="direction: ltr; font-size: 0px; padding: 20px 40px 20px; text-align: center;")
                //if mso | IE
                  table(role="presentation" border="0" cellpadding="0" cellspacing="0")
                    tr
                      td.primero-outlook(width="600px")
                        table.primero-outlook(align="center" border="0" cellpadding="0" cellspacing="0" style="width:520px;" width="520")
                          tr
                            td(style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;")
                .primero(style="margin: 0px auto; max-width: 520px;")
                  table(align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width: 100%;")
                    tbody
                      tr
                        td(style="direction: ltr; font-size: 0px; padding: 40px 0px 0px 0px; text-align: center;")
                          //if mso | IE
                            table(role="presentation" border="0" cellpadding="0" cellspacing="0")
                              tr
                                td(style="vertical-align:top;width:520px;")
                          .mj-column-per-100.mj-outlook-group-fix(style="font-size: 0px; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 100%;")
                            table(border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align: top;" width="100%")
                              tr
                                td(align="left" style="font-size: 0px; padding: 0px 0px 20px 0px; word-break: break-word;")
                                  div(style="font-family: Arial, sans-serif; font-size: 16px; line-height: 22px; text-align: left; color: #555555;") Estimado Usuario,
                              tr
                                td(align="left" style="font-size: 0px; padding: 0px 0px 0px 0px; word-break: break-word;")
                                  div(style="font-family: Arial, sans-serif; font-size: 16px; line-height: 22px; text-align: left; color: #555555;")
                                    | El usuario Luis Sanchez López ha aceptado tu postulación al proyecto: 
                                    b [Nombre del proyecto]
                                    | .
                          //if mso | IE
                //if mso | IE
                  tr
                    td.banner-1-outlook(width="600px")
                      table.banner-1-outlook(align="center" border="0" cellpadding="0" cellspacing="0" style="width:520px;" width="520")
                        tr
                          td(style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;")
                .banner-1(style="margin: 0px auto; max-width: 520px;")
                  table(align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width: 100%;")
                    tbody
                      tr
                        td(style="direction: ltr; font-size: 0px; padding: 30px 0px; text-align: center;")
                          //if mso | IE
                            table(role="presentation" border="0" cellpadding="0" cellspacing="0")
                              tr
                                td(style="vertical-align:top;width:520px;")
                          .mj-column-per-100.mj-outlook-group-fix(style="font-size: 0px; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 100%;")
                            table(border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align: top;" width="100%")
                              tr
                                td(align="left" style="font-size: 0px; padding: 0px 0px 25px 0px; word-break: break-word;")
                                  div(style="font-family: Arial, sans-serif; font-size: 16px; line-height: 25px; text-align: left; color: #555555;") Revisa el proyecto para mantenerte al dia.
                              tr
                                td(align="left" style="font-size: 0px; padding: 0px; word-break: break-word;")
                                  div(style="font-family: Ubuntu, Helvetica, Arial, sans-serif; font-size: 13px; line-height: 1; text-align: left; color: #000000;")
                                    a(href="#")
                                      img(src="assets/mail_darshana/btn_ir_proyecto.png")
                          //if mso | IE
                //if mso | IE
                  tr
                    td.texto-1-outlook(width="600px")
                      table.texto-1-outlook(align="center" border="0" cellpadding="0" cellspacing="0" style="width:520px;" width="520")
                        tr
                          td(style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;")
                .texto-1(style="margin: 0px auto; max-width: 520px;")
                  table(align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width: 100%;")
                    tbody
                      tr
                        td(style="direction: ltr; font-size: 0px; padding: 0px 0px 0px 0px; text-align: center;")
                          //if mso | IE
                            table(role="presentation" border="0" cellpadding="0" cellspacing="0")
                              tr
                                td(style="vertical-align:top;width:520px;")
                          .mj-column-per-100.mj-outlook-group-fix(style="font-size: 0px; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 100%;")
                            table(border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align: top;" width="100%")
                              tr
                                td(align="left" style="font-size: 0px; padding: 0px 0px 20px 0px; word-break: break-word;")
                                  div(style="font-family: Arial, sans-serif; font-size: 16px; line-height: 22px; text-align: left; color: #555555;")
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam luctus velit rutrum commodo suscipit. Mauris interdum, enim in venenatis dapibus, leo nisl laoreet arcu,
                                    | ut dictum diam purus non eros. Pellentesque eu ligula non magna dignissim ornare id sed nisl.
                              tr
                                td(align="left" style="font-size: 0px; padding: 0px 0px 8px 0px; word-break: break-word;")
                                  div(style="font-family: Arial, sans-serif; font-size: 16px; line-height: 22px; text-align: left; color: #555555;") Atte.
                              tr
                                td(align="left" style="font-size: 0px; padding: 0px 0px 20px 0px; word-break: break-word;")
                                  div(style="font-family: Arial, sans-serif; font-size: 16px; line-height: 22px; text-align: left; color: #555555;") El equipo de Darshana.
                          //if mso | IE
                //if mso | IE
                  tr
                    td.cancelar-inscripcion-outlook(width="600px")
                      table.cancelar-inscripcion-outlook(align="center" border="0" cellpadding="0" cellspacing="0" style="width:520px;" width="520")
                        tr
                          td(style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;")
                .cancelar-inscripcion(style="background: #ffffff; background-color: #ffffff; margin: 0px auto; max-width: 520px;")
                  table(align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background: #ffffff; background-color: #ffffff; width: 100%;")
                    tbody
                      tr
                        td(style="border-top: 1px solid #efefef; direction: ltr; font-size: 0px; padding: 20px 0; padding-bottom: 20px; padding-top: 20px; text-align: center;")
                          //if mso | IE
                            table(role="presentation" border="0" cellpadding="0" cellspacing="0")
                              tr
                                td(style="vertical-align:top;width:520px;")
                          .mj-column-per-100.mj-outlook-group-fix(style="font-size: 0px; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 100%;")
                            table(border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align: top;" width="100%")
                              tr
                                td(align="center" style="font-size: 0px; padding: 0px 0px 0px 0px; word-break: break-word;")
                                  div(style="font-family: Arial, sans-serif; font-size: 12px; line-height: 22px; text-align: center; color: #5a5a5a;")
                                    | Puede 
                                    a(href="#") cancelar su inscripción
                                    |  en cualquier momento.
                          //if mso | IE
                //if mso | IE
      //if mso | IE
        table.footer-outlook(align="center" border="0" cellpadding="0" cellspacing="0" style="width:600px;" width="600")
          tr
            td(style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;")
      .footer(style="background: #efefef; background-color: #efefef; margin: 0px auto; max-width: 600px;")
        table(align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background: #efefef; background-color: #efefef; width: 100%;")
          tbody
            tr
              td(style="direction: ltr; font-size: 0px; padding: 20px 0; text-align: center;")
                //if mso | IE
                  table(role="presentation" border="0" cellpadding="0" cellspacing="0")
                    tr
                      td(style="vertical-align:top;width:600px;")
                .mj-column-per-100.mj-outlook-group-fix(style="font-size: 0px; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 100%;")
                  table(border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align: top;" width="100%")
                    tr
                      td(align="center" style="font-size: 0px; padding: 0px 25px; word-break: break-word;")
                        div(style="font-family: Arial, sans-serif; font-size: 12px; line-height: 15px; text-align: center; color: #adadad;") Darshana Copyright Derechos Reservados 2020
                //if mso | IE
      //if mso | IE
