doctype html
html(xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office")
  head
    title  
    // [if !mso] <!
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    // <![endif]
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    style(type="text/css").
      #outlook a {
      padding: 0;
      }
      body {
      margin: 0;
      padding: 0;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      }
      table,
      td {
      border-collapse: collapse;
      mso-table-lspace: 0pt;
      mso-table-rspace: 0pt;
      }
      img {
      border: 0;
      height: auto;
      line-height: 100%;
      outline: none;
      text-decoration: none;
      -ms-interpolation-mode: bicubic;
      }
      p {
      display: block;
      margin: 13px 0;
      }
    //if mso
      xml
        o:officedocumentsettings
          o:allowpng
            o:pixelsperinch 96
    //if lte mso 11
      style(type="text/css").
        .mj-outlook-group-fix {
        width: 100% !important;
        }
    style(type="text/css").
      @media only screen and (min-width: 480px) {
      .mj-column-per-100 {
      width: 100% !important;
      max-width: 100%;
      }
      .mj-column-px-500 {
      width: 500px !important;
      max-width: 500px;
      }
      .mj-column-per-42 {
      width: 42% !important;
      max-width: 42%;
      }
      .mj-column-per-8 {
      width: 8% !important;
      max-width: 8%;
      }
      }
    style(type="text/css").
      @media only screen and (max-width: 480px) {
      table.mj-full-width-mobile {
      width: 100% !important;
      }
      td.mj-full-width-mobile {
      width: auto !important;
      }
      }
  body(style="word-spacing: normal; background-color: #f2f2f2;")
    div(style="background-color: #f2f2f2;")
      //if mso | IE
        table.primero-outlook(align="center" border="0" cellpadding="0" cellspacing="0" style="width:650px;" width="650")
          tr
            td(style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;")
      .primero(style="background: #000000; background-color: #000000; margin: 0px auto; max-width: 650px;")
        table(align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background: #000000; background-color: #000000; width: 100%;")
          tbody
            tr
              td(style="direction: ltr; font-size: 0px; padding: 16px 0; text-align: center;")
                //if mso | IE
                  table(role="presentation" border="0" cellpadding="0" cellspacing="0")
                    tr
                      td(style="vertical-align:top;width:650px;")
                .mj-column-per-100.mj-outlook-group-fix(style="font-size: 0px; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 100%;")
                  table(border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align: top;" width="100%")
                    tbody
                      tr
                        td(align="center" style="font-size: 0px; padding: 5px 25px; word-break: break-word;")
                          table(border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse: collapse; border-spacing: 0px;")
                            tbody
                              tr
                                td(style="width: 120px;")
                                  img(height="auto" src="./assets/mail_er/ER-logo_for-email.svg" style="border: 0; display: block; outline: none; text-decoration: none; height: auto; width: 100%; font-size: 13px;" width="120")
                //if mso | IE
      //if mso | IE
        table.segundo-outlook(align="center" border="0" cellpadding="0" cellspacing="0" style="width:650px;" width="650")
          tr
            td(style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;")
      .segundo(style="background: #ffffff; background-color: #ffffff; margin: 0px auto; max-width: 650px;")
        table(align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background: #ffffff; background-color: #ffffff; width: 100%;")
          tbody
            tr
              td(style="direction: ltr; font-size: 0px; padding: 60px 0px 20px 0px; text-align: center;")
                //if mso | IE
                  table(role="presentation" border="0" cellpadding="0" cellspacing="0")
                    tr
                      td(style="vertical-align:top;width:500px;")
                .mj-column-px-500.mj-outlook-group-fix(style="font-size: 0px; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 100%;")
                  table(border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%")
                    tbody
                      tr
                        td(style="vertical-align: top; padding: 0px 0px;")
                          table(border="0" cellpadding="0" cellspacing="0" role="presentation" style="" width="100%")
                            tbody
                              tr
                                td(align="left" style="font-size: 0px; padding: 0px 0px 24px 0px; word-break: break-word;")
                                  div(style="font-family: Arial, sans-serif; font-size: 24px; font-weight: bold; line-height: 24px; text-align: left; color: #000000;") Hola Erick,
                              tr
                                td(align="center" style="font-size: 0px; padding: 0px 0px 20px 0px; word-break: break-word;")
                                  div(style="font-family: Arial, sans-serif; font-size: 18px; font-weight: normal; line-height: 24px; text-align: center; color: #000000;")
                                    | Tu pedido ha sido procesado por el almacén e-commerce y está listo para ser enviado. Recuerda que la entrega se realiza dentro de las primeras 48 horas hábiles luego de la compra.
                              tr
                                td(align="center" style="font-size: 0px; padding: 0px 0px 20px 0px; word-break: break-word;")
                                  div(style="font-family: Arial, sans-serif; font-size: 18px; font-weight: normal; line-height: 24px; text-align: center; color: #000000;") Dirección indicada:
                              tr
                                td(align="center" style="font-size: 0px; padding: 0px 0px 30px 0px; word-break: break-word;")
                                  div(style="font-family: Arial, sans-serif; font-size: 18px; font-weight: bold; line-height: 24px; text-align: center; color: #000000;") Av. Raúl Ferrero 8220 Dpto 401 - La Molina
                              tr
                                td(align="center" style="font-size: 0px; padding: 0px 0px 20px 0px; word-break: break-word;")
                                  div(style="font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; line-height: 24px; text-align: center; color: #000000;")
                                    | ¿Tienes algúna duda?
                                    br
                                    |                                     Contáctanos al 936 536 047 o escríbenos a Effortrespect@contacto.pe para ayudarte, incluyendo tu número de DNI o código de pedido.
                              tr
                                td(align="center" style="font-size: 0px; padding: 0px 0px 20px 0px; word-break: break-word;")
                                  div(style="font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; line-height: 24px; text-align: center; color: #000000;")
                                    | Gracias,
                                    br
                                    |                                     EFFORT RESPECT Perú
                //if mso | IE
      //if mso | IE
        table.cuarto-outlook(align="center" border="0" cellpadding="0" cellspacing="0" style="width:650px;" width="650")
          tr
            td(style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;")
      .cuarto(style="background: #000000; background-color: #000000; margin: 0px auto; max-width: 650px;")
        table(align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background: #000000; background-color: #000000; width: 100%;")
          tbody
            tr
              td(style="direction: ltr; font-size: 0px; padding: 30px 0px 0px 0px; text-align: center;")
                //if mso | IE
                  table(role="presentation" border="0" cellpadding="0" cellspacing="0")
                    tr
                      td(style="width:650px;")
                .mj-column-per-100.mj-outlook-group-fix(style="font-size: 0; line-height: 0; text-align: left; display: inline-block; width: 100%; direction: ltr;")
                  //if mso | IE
                    table(border="0" cellpadding="0" cellspacing="0" role="presentation")
                      tr
                        td(style="vertical-align:top;width:273px;")
                  .mj-column-per-42.mj-outlook-group-fix(style="font-size: 0px; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 42%;")
                    table(border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align: top;" width="100%")
                      tbody
                  //if mso | IE
                    td(style="vertical-align:top;width:52px;")
                  .mj-column-per-8.mj-outlook-group-fix(style="font-size: 0px; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 8%;")
                    table(border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align: top;" width="100%")
                      tbody
                        tr
                          td(align="center" style="font-size: 0px; padding: 4px; word-break: break-word;")
                            table(border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse: collapse; border-spacing: 0px;")
                              tbody
                                tr
                                  td(style="width: 26px;")
                                    a(href="#" target="_blank")
                                      img(height="auto" src="./assets/mail_er/fb-icon.svg" style="border: 0; display: block; outline: none; text-decoration: none; height: auto; width: 100%; font-size: 13px;" width="26")
                  //if mso | IE
                    td(style="vertical-align:top;width:52px;")
                  .mj-column-per-8.mj-outlook-group-fix(style="font-size: 0px; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 8%;")
                    table(border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align: top;" width="100%")
                      tbody
                        tr
                          td(align="center" style="font-size: 0px; padding: 4px; word-break: break-word;")
                            table(border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse: collapse; border-spacing: 0px;")
                              tbody
                                tr
                                  td(style="width: 26px;")
                                    a(href="#" target="_blank")
                                      img(height="auto" src="./assets/mail_er/ig-icon.svg" style="border: 0; display: block; outline: none; text-decoration: none; height: auto; width: 100%; font-size: 13px;" width="26")
                  //if mso | IE
                    td(style="vertical-align:top;width:273px;")
                  .mj-column-per-42.mj-outlook-group-fix(style="font-size: 0px; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 42%;")
                    table(border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align: top;" width="100%")
                      tbody
                  //if mso | IE
                //if mso | IE
      //if mso | IE
        table.quinto-outlook(align="center" border="0" cellpadding="0" cellspacing="0" style="width:650px;" width="650")
          tr
            td(style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;")
      .quinto(style="background: #000000; background-color: #000000; margin: 0px auto; max-width: 650px;")
        table(align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background: #000000; background-color: #000000; width: 100%;")
          tbody
            tr
              td(style="direction: ltr; font-size: 0px; padding: 20px 0px 30px 0px; text-align: center;")
                //if mso | IE
                  table(role="presentation" border="0" cellpadding="0" cellspacing="0")
                    tr
                      td(style="vertical-align:top;width:650px;")
                .mj-column-per-100.mj-outlook-group-fix(style="font-size: 0px; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 100%;")
                  table(border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align: top;" width="100%")
                    tbody
                      tr
                        td(align="center" style="font-size: 0px; padding: 0px 25px 5px; word-break: break-word;")
                          div(style="font-family: Arial, sans-serif; font-size: 14px; line-height: 15px; text-align: center; color: #ffffff;") EFFORT RESPECT - Todos los derechos reservados 2020
                      tr
                        td(align="center" style="font-size: 0px; padding: 5px 25px; word-break: break-word;")
                          div(style="font-family: Arial, sans-serif; font-size: 14px; line-height: 15px; text-align: center; color: #a3a3a3;") Por favor, no respondas a este mensaje
                //if mso | IE
      //if mso | IE
